body {
    background-color: orange;
 }
 
 h2 {
    color: seagreen; 
    font-size: 28px;"
 }

 Ul {
     Color: blue;
     font-size: 22px;
 }

 Ol {
    Color: blue;
    font-size: 22px;
}

div {
    text-align: center;
}

p {
    font-size: 40px;
}

button {
    background-color: Magenta;
}

a {
    color: chartreuse;
}